.scroll-date-picker {
  margin-bottom: 5px;
}

.scroll-date-picker label {
  display: block;
  margin-bottom: 5px;
}

.scroll-date-picker .picker {
  appearance: none;
  -webkit-appearance: none;
  font-size: 14px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #f3f3f3;
  
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  width: fit-content;
  margin-right: 6px;
  cursor: pointer;
}

.scroll-date-picker .picker option {
  scroll-snap-align: start;
  padding: 6px;
}

.scroll-date-picker .picker option:disabled {
  color: #aaa;
}
